body {
  background-color: #cd0000; /* Use a hexadecimal color code */
  /* Or use a color name */
  /* background-color: lightgray; */
  /* Or use RGB values */
  /* background-color: rgb(240, 240, 240); */
}
